.album.break .art {
         background: #444 url(../images/albums/blank.jpg) center center;
         background-size: cover;
         }

.album.fromda .art {
         background: #444 url(../images/albums/blank.jpg) center center;
         background-size: cover;
         } 

.album.reco .art {
         background: #444 url(../images/albums/blank.jpg) center center;
         background-size: cover;
         } 
.album.world .art {
         background: #444 url(../images/albums/blank.jpg) center center;
         background-size: cover;
         } 
.album.funky .art {
         background: #444 url(../images/albums/blank.jpg) center center;
         background-size: cover;
         } 
