{% extends 'base.html.twig' %}


{% block beat_body %}



<div class="blockblack" >

<br/><br/>
<div id="contact" class="spacer">
<div class="contactform center ">
<h3><span class="glyphicon glyphicon-envelope "></span> Contact</h3>
  <div class="row">      
      <div class="col-sm-6 col-sm-offset-3 ">
      <h4 class="animated fadeInUp">Get in touch or<br><b>Just say Hello!</b></h4>
        <input type="text" placeholder="Name">
        <input type="text" placeholder="Email">
        <textarea rows="5" placeholder="Message"></textarea>
        <button class="btn btn-warning bgcolor">Send</button>
      </div>
  </div>

      <br/> <br/>
      <b>Follow me on <b/>
    
    
        <a href="#"><img src="{{ asset('images/soundcloud-icon.png') }}"/></a></li> 
        <a href="#"><img src="{{ asset('images/facebook-icon.png') }}"/></a></li> 
        <a href="#"><img src="{{ asset('images/youtube-icon.png') }}"/></a></li> 
      
    </div>
  
  </div>
{% endblock %}

