{% extends 'base.html.twig' %}


{% block beat_body %}

<!-- blockblack -->
<div class="blockblack">
<br/><br/>
<!-- About Starts -->
<div id="about" class="spacer animated fadeInUp">
<h3 class="animated fadeInUp"><span class="glyphicon glyphicon-user"></span> ABOUT ME</h3>
<div class="row">       
<div class="col-lg-4 col-sm-4  col-xs-12">
<img src="{{ asset('images/4.jpg')}}" class="img-responsive" alt="about"/>
</div>
<div class="col-lg-5 col-sm-8  col-xs-12">
<p>We serve our clients through a number of services, including effective web design, web application development, print design, online marketing and brand development. We serve our clients through a number of services, including effective webh5 design, web application development, print design, online marketing and brand development.</p>
<blockquote>We serve our clients through a number of services, including effective web design, web application development, print design, online marketing and brand development.</blockquote>
</div>


</div>
<!-- About Ends -->





</div>

{% endblock %}


